<h1>Template Forms</h1>
<div class="container">
<div class="form-area">
<form #f ='ngForm' (sumbit)="onSumbit(f)">
    <div class="form-group">
    <label>Full Name</label>
    <input type="text" placeholder="Full Name..." class="form-control"  name="fullname" 
    ngModel #fullname='ngModel' required (change)="getValue(f)"
     [ngClass]="{'is-invalid':fullname.touched && fullname.invalid}"
     minlength="7">

 <div *ngIf="fullname.errors?.['required']">
    <div class="alert alert-danger" *ngIf="fullname.touched && fullname.invalid">Full name is required</div>
     </div>

     <div *ngIf="fullname.errors?.['minlength']">
        <div class="alert alert-danger" *ngIf="fullname.touched && fullname.invalid">Full name Should be minimum 7 letters</div>
         </div>
     </div>

    <br><br>
    <div class="form-group">
        <label>Email</label>
        <input type="email" placeholder="Email..." class="form-control is-invalid"  name="email" 
        ngModel #email='ngModel' required (change)="getValue(f)"
         [ngClass]="{'is-invalid':email.touched && email.invalid}"
         pattern="^[a-zA-Z0-9._%+-]+@gmail.com$" >
    
    
     <div *ngIf="email.errors?.['required']">
        <div class="alert alert-danger" *ngIf="email.touched && email.invalid">Email is required</div>
         </div>
    
         <div *ngIf="email.errors?.['pattern']">
            <div class="alert alert-danger" *ngIf="email.touched && email.invalid">invalid Email Id Format</div>
             </div>
         </div>

        <br><br>
        <div class="form-group">
            <label>Password</label>
            <input type="password" placeholder="Password..." class="form-control is-invalid"  name="password" 
            ngModel #password='ngModel' required (change)="getValue(f)"
             [ngClass]="{'is-invalid':password.touched && password.invalid}"
             pattern="^(?=.*[!@#$%^&*])(?=.*[A-Z])(?=.*[0-9]).{8,15}$">
        
        
         <div *ngIf="password.errors?.['required']">
            <div class="alert alert-danger" *ngIf="password.touched && password.invalid">Password is required</div>
             </div>
        
             <div *ngIf="password.errors?.['pattern']">
                <div class="alert alert-danger" *ngIf="password.touched && password.invalid">invalid Password Format</div>
                 </div>
             </div>
             <br><br>
             <div class="form-group">
                <label >Gender</label>
                <br>
                <div class="form-check">
                <label class="radio-inline">
                    <input type="radio" name="gender" value="male" ngModel #gender="ngModel"  (change)="getValue(f)">
                    Male
                  </label>
                </div>
                <div class="form-check">
                  <label class="radio-inline">
                    <input type="radio" name="gender" value="female" ngModel #gender="ngModel" (change)="getValue(f)">
                    Female
                  </label>
                </div>
                  <div class="alert alert-danger" *ngIf="gender.touched && gender.invalid">Gender cant be empty</div>
            </div>
                 <br><br>
                 
                 <div class="form-group" >
                       <label >Courses</label>
                       <select name="course" id="courses"  class="form-control" required  name="course" ngModel #course="ngModel" (change)="getValue(f)"  >
                        <option value="css">css</option>
                        <option value="html">html</option>
                        <option value="js">js</option>
                       </select>
                       <div *ngIf="course.errors?.['required']">
                        <div class="alert alert-danger" *ngIf="course.touched && course.invalid">please select any one course
                        </div> 
                       </div>
                 </div>

                 <div class="form-group">
                  <label > Captcha 7x7 = ?</label>
                  <input type="text" name="captcha" class="form-control" ngModel #captcha="ngModel" (change)="getValue(f)" required  >
                  <div class="alert alert-danger" *ngIf="captcha.touched && !captcha.valid">
                    <span *ngIf="captcha.errors?.['required']">Please enter the captcha value.</span>
                  </div>
                 
                  <div class="alert alert-danger" *ngIf="captcha.value!== '49' && captcha.valid">Please enter a valid captcha value.</div>
                </div>

                <br><br>
                <div class="form-group">
                  <label >Terms & Conditions</label>
                  <br>
                  <input type="checkbox" name="agree"  ngModel #agree="ngModel"  required>Agree
                  <!-- <div *ngIf="agree.errors?.['required']">
                    <div class="alert alert-danger" *ngIf="agree.touched && agree.invalid"> Agree terms and conditions
                    </div>  -->
                  <!-- </div> -->
                </div>

                <button class="btn btn-primary" [disabled]="captcha.value!=='49' || f.invalid ">Sumbit</button>

                 
                
</form>
</div>
</div>